---
import Layout from "../layouts/Layout.astro";
import Publication from "../components/Publication.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Section from "../components/Section.astro";

import papers from "../../papers.yaml";

let prev = 0;
---

<Layout title="publications">
  <Section bg="bg-black" text="text-rose">
    <SectionHeader>PUBLICATIONS</SectionHeader>
    <h3 class="text-xl font-bold italic">Journal Publications</h3>
    <ul>
      {
        papers.papers.map((paper) => {
          const showYear = paper.year !== prev;
          prev = paper.year;
          return (
            <>
              {showYear ? <li class="text-xl">{paper.year}</li> : ""}
              <ul>
                <Publication
                  title={paper.title}
                  authors={paper.authors}
                  publisher={paper.publisher}
                  href={paper.href}
                />
              </ul>
            </>
          );
        })
      }
    </ul>
  </Section>
  <Section bg="bg-wine-red" text="text-rose">
    <SectionHeader>AWARDS</SectionHeader>
    <ul>
      <li class="text-xl">2021</li>
      <ul>
        <li class="m-5">
          <div class="font-bold">
            Encouragement Award, Japanese Society of Animal Science
          </div>
          <div>September, 2021</div>
        </li>
      </ul>
    </ul>
  </Section>
</Layout>
